@import 'src/variables.scss';

.about {
    height: 100vh;
    padding: 40px;
    h1 {
        font-family: 'RobotoLight';
        font-size: 3.2rem;
        color: $darker-gray;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 40px;
    }
    p {
        color: $darker-gray;
        font-family: 'Roboto';
        text-align: center;
    }
}