.about {
    display: flex;
    flex-direction: column;
    height: calc(100vh -34px);
    width: 90%;
    margin: 0 auto;
    p {
        color: var(--dark-font);
        font-family: 'Roboto';
        text-align: center;
    }
}

.image {
    background-image: url("../../assets/images/mobile.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 180px;
    margin-left: 34px;
}

@media screen and (min-width: 700px) { 
    .about {
        flex-direction: row;
        justify-content: center;
    }
    .content {
        order: 2;
        max-width: 440px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .image {
        order: 1;
        background-image: url("../../assets/images/desktop.png");
        height: 380px;
        width: 380px;
        margin-right: 38px;
    }
}
