<div class="contact">
    <form [formGroup]="form">
        <div class="detail">
            <img src="assets/icons/send.svg">
        </div>
        <div class="form">
            <h3>Contact Me</h3>
            <div class="form-input">
                <span>Name:</span>
                <input type="text" formControlName="name">
            </div>
            <div class="form-input">
                <span>Email:</span>
                <input type="email" formControlName="_replyto">
            </div>
            <div class="form-input">
                <span>Message:</span>
                <textarea formControlName="message"></textarea>
            </div>
            <button (click)="send()">SEND MESSAGE</button>
        </div>
    </form>
    <div class="social-media">
        
    </div>
</div>
