.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    width: calc(100% - 80px);
    min-height: 460px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.form {
    margin-top: -25px;
    height: 420px;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    h3 {
        margin-top: 0;
        margin-bottom: 6px;
    }
}

.detail {
    position: relative;
    background: var(--main);
    background: linear-gradient(145deg, var(--main) 0%, #32b128 100%);
    min-height: 50px;
    min-width: 50px;
    max-width: 50px;
    border-radius: 5px;
    top: -45px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        height: 28px;
        position: relative;
        left: -1px;
        top: 1px;
    }
}

textarea {
    height: 80px;
}

.image {
    background-image: url("../../assets/images/contact-desktop.png");
    background-size:  cover;
    background-repeat: no-repeat;
    background-position: 75% 50%;
    width: calc(100% - 80px);
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    padding: 20px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    span {
        font-family: 'RobotoLight';
        font-size: 2.2rem;
    }
}

.social-media {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ebe9e9;
        align-items: center;
        justify-content: center;
        height: 46px;
        width: 46px;
        border-radius: 23px;
        margin: 0 8px;
        cursor: pointer;
    }
    div:hover {
        background-color: darken(#ebe9e9, 5%)
    }
    .email {
        height: 22px;
        margin-top: 2px;
    }
    .in {
        height: 20px;
        margin-top: -2px;
    }
    .wpp {
        height: 24px;
    }
}

// Desktop
$form-width: 360px;
@media screen and (min-width: 700px) {
    .contact {
        flex-direction: row;
    }
    .image {
        order: 1;
        width: calc(100% - #{$form-width} - 60px);
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
    }
    form {
        order: 2;
        width: $form-width;
        max-width: $form-width;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
}

@media screen and (min-width: 1000px) {
    .image {
        width: calc(100% - #{$form-width} - 340px);
    }
}