$open-menu-height: 228px;
$open-menu-width: 160px;
$animation-time: 0.4s;

@keyframes close-animation {
    from {
        width: $open-menu-width;
        height: $open-menu-height;
    }
    to {
        width: 44px;
        height: 44px;
    }
}

@keyframes open-animation {
    from {
        width: 44px;
        height: 44px;
    }
    to {
        width: $open-menu-width;
        height: $open-menu-height;
    }
}

.open-animation {
    animation-name: open-animation;
    animation-duration: $animation-time;
}

.close-animation {
    animation-name: close-animation;
    animation-duration: $animation-time;
}

.menu {
    position: fixed;
    top: 8px;
    right: 8px;
    background-color: var(--menu);
    height: 44px;
    width: 44px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
        cursor: pointer;
    }
    .actions {
        display: none;
    }
}

.menu.isOpen {
    height: $open-menu-height;
    width: $open-menu-width;
    align-items: flex-start;
    .actions {
        width: 100%;
        display: block;
        margin-bottom: 8px;
        p {
            font-family: 'RobotoLight';
            margin: 0;
            padding: 8px 0 8px 8px;
            font-size: 1.3rem;
            width: calc(100% - 8px);
            cursor: pointer;
            color: var(--bg);
        }
        p:hover {
            background-color: var(--menu-hover);
        }
        p:last-of-type {
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
        }
    }    
}
.menu:hover {
    background-color: var(--menu-hover);
}
.menu.isOpen:hover {
    background-color: var(--menu);
}

.closed {
    height: 26px;
    padding: 18px;
}

.opened {
    height: 18px;
    align-self: flex-end;
    margin: 13px 16px auto 0;
}

@media screen and (min-width: 700px) {
    .menu {
        top: 20px;
        right: 20px;
    }
}