<div class="menu shadow" [ngClass]="{'isOpen': isOpen}">
    <img class='closed' src="assets/icons/menu.svg" (click)="isOpen = true" *ngIf="!isOpen">
    <img class='opened' src="assets/icons/close.svg" (click)="isOpen = false" *ngIf="isOpen">
    <div class="actions">
        <p (click)="scrollTo('home')">{{'Home' | translate}}</p>
        <p (click)="scrollTo('about')">{{'About Me' | translate}}</p>
        <p (click)="scrollTo('skills')">{{'Skills' | translate}}</p>
        <p (click)="scrollTo('contact')">{{'Contact Me' | translate}}</p>
        <div class="line"></div>
        <p (click)="changeLanguage()">{{currentLanguage}}</p>
    </div>
</div>