@import "src/variables.scss";

@keyframes close-animation {
    from {
        width: 120px;
        height: 180px;
    }
    to {
        width: 44px;
        height: 44px;
    }
}

@keyframes open-animation {
    from {
        width: 44px;
        height: 44px;
    }
    to {
        width: 120px;
        height: 180px;
    }
}

.open-animation {
    animation-name: open-animation;
    animation-duration: 0.5s;
}

.close-animation {
    animation-name: close-animation;
    animation-duration: 0.5s;
}

.menu {
    position: fixed;
    top: 8px;
    right: 8px;
    background-color: $bg;
    height: 44px;
    width: 44px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
        cursor: pointer;
    }
    .actions {
        display: none;
    }
}

.menu.isOpen {
    height: 180px;
    width: 120px;
    align-items: flex-start;
    .actions {
        width: 100%;
        display: block;
        margin-bottom: 6px;
        p {
            font-family: 'RobotoLight';
            margin: 0;
            padding: 4px 0 4px 8px;
            font-size: 1.2rem;
            width: calc(100% - 8px);
            cursor: pointer;
        }
        p:hover {
            background-color: darken($bg,3%);
        }
        p:last-of-type {
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
        }
        .line {
            width: 80px;
            height: 1px;
            border-top: 1px solid #d1d0d0;
            margin-left: 8px;
        }
    }    
}
.menu:hover {
    background-color: darken($bg, 3%);
}
.menu.isOpen:hover {
    background-color: $bg;
}

.closed {
    height: 26px;
    padding: 18px;
}

.opened {
    height: 18px;
    align-self: flex-end;
    margin: 10px 16px auto 0;
}