<div id="menu" class="menu shadow">
    <img class='closed' src="assets/icons/menu.svg" (click)="open()" *ngIf="!isOpen">
    <img class='opened' src="assets/icons/close.svg" (click)="close()" *ngIf="isOpen">
    <div class="actions">
        <p (click)="scrollTo('home')">{{'Home' | translate}}</p>
        <p (click)="scrollTo('about')">{{'About Me' | translate}}</p>
        <p (click)="scrollTo('skills')">{{'Skills' | translate}}</p>
        <p (click)="scrollTo('contact')">{{'Contact Me' | translate}}</p>
        <hr>
        <p (click)="changeLanguage()">{{currentLanguage}}</p>
    </div>
</div>