<hr>
<h1>{{'Skills' | translate}}</h1>
<div class="skills">
    <div class="skill">
        <h3>Front-End</h3>
        <img src="assets/icons/frontend.svg">
        <p>{{'FRONTEND' | translate}}</p>
        <ul>
            <li>Angular</li>
            <li>Ionic</li>
            <li>Electron</li>
        </ul>
    </div>
    <div class="skill">
        <h3>Back-End</h3>
        <img src="assets/icons/backend.svg" id="back">
        <p>{{'BACKEND' | translate}}</p>
        <ul>
            <li>Spring</li>
            <li>Django</li>
            <li>{{'SQL' | translate}}</li>
        </ul>
    </div>
    <div class="skill">
        <h3>{{'ROBOTICS' | translate}}</h3>
        <img src="assets/icons/robotics.svg">
        <p>{{'ROBOTICS_TEXT' | translate}}</p>
        <ul>
            <li>{{'ELECTRONICS' | translate}}</li>
            <li>{{'AUTOMATION' | translate}}</li>
            <li>ROS</li>
        </ul>
    </div>
</div>
<div class="line"></div>