/* You can add global styles to this file, and also import other style files */
@import 'variables.scss';
@import "~angular-notifier/styles";

@font-face {
    font-family: 'Roboto';
    src: url(assets/fonts/Roboto-Regular.ttf) format("truetype");;
}

@font-face {
    font-family: 'RobotoLight';
    src: url(assets/fonts/Roboto-Light.ttf) format("truetype");;
}

@font-face {
    font-family: 'RobotoThin';
    src: url(assets/fonts/Roboto-Thin.ttf) format("truetype");;
}

@font-face {
    font-family: 'RobotoBold';
    src: url(assets/fonts/Roboto-Bold.ttf) format("truetype");;
}

body, html {
    padding: 0;
    margin: 0;
    font-size: 14px;
    height: 100%;
    background-color: $bg;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

h3 {
    color: $dark-gray;
    font-size: 2rem;
    font-family: 'RobotoLight';
    margin-bottom: 0;
    font-weight: normal;
}

.full-height {
    height: 100vh;
}

input, textarea {
    background-color: white;
    padding: 10px 2px;
    border: 1px solid $light-gray;
    border-radius: 3px;
    color: $darker-gray;
    font-size: 1rem;
    font-family: 'Roboto';
}
input.ng-touched.ng-invalid, textarea.ng-touched.ng-invalid {
    border: 1px solid $error;  
    color: $error;
}

textarea {
    resize: none;
}

button {
    background-color: $main;
    padding: 10px;
    border: 0;
    border-radius: 3px;
    color: white;
    font-size: 1rem;
    margin: 0;
    font-family: 'Roboto';
    cursor: pointer;
}
button:hover {
    background-color: darken($main,3%);
}
.form-input {
    display: flex;
    flex-direction: column;
    span {
        font-family: 'Roboto';
        font-size: 1rem;
        color: $darker-gray;
    }
    span.invalid {
        color: $error;
    }
}

.shadow {
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
}