/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Roboto';
    src: url(assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'RobotoLight';
    src: url(assets/fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: 'RobotoBold';
    src: url(assets/fonts/Roboto-Bold.ttf);
}

:root {
    --light-gray: #CCCCCC; 
    --dark-gray : #646464;
    --main: #2a7824;
    --bg: #FAFAFA;
}

body, html {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

h3 {
    color: var(--dark-gray);
    font-size: 1.6rem;
    font-family: 'RobotoLight';
}

.full-height {
    height: 100vh;
}

input, textarea {
    background-color: white;
    padding: 12px;
    border: 1px solid var(--light-gray);
    border-radius: 3px;
    color: var(--light-gray);
    font-size: 1rem;
    font-family: 'Roboto';
}

textarea {
    resize: none;
}

button {
    background-color: var(--main);
    padding: 12px;
    border: 0;
    border-radius: 3px;
    color: white;
    font-size: 1rem;
    margin: 0;
    font-family: 'Roboto';
    cursor: pointer;
}
button:hover {
    background-color: darken(#2a7824,3%);
}